<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>
            web.ContextServlet 
        </listener-class>
    </listener>
    
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>utility.SessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/InterestServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/LanguageServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/MatchServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/NavbarServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </filter-mapping>
    
    
    <filter>
        <filter-name>CounterFilter</filter-name>
        <filter-class>utility.CounterFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CounterFilter</filter-name>
        <url-pattern>/LoginServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CounterFilter</filter-name>
        <url-pattern>/GoogleServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CounterFilter</filter-name>
        <url-pattern>/FacebookServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CounterFilter</filter-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </filter-mapping>
    
    
    
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>utility.HomeFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>
