/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-gen-2016, 15.41.55
    Author     : Antonio
*/
html, body{
    font-size: 100%;
    background:	whitesmoke;
    font-family: fabrik;
}
@font-face {
    font-family: fabrik;
    src: url('/HomeTogether-web/fonts/fabrik.ttf');
}

.header{
    padding: 0.8% 0 0 0;
    position: fixed;
    right: 0;
    left: 0;
    height: 79px;
    z-index: 20;
    text-align:center;
    background:#fff;
    border-bottom: 1px solid red;
}

.top-navbar{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

div.img_container:hover div
  {
  display: block;
  z-index: 100;
  }

div.img_container:hover img
    {
    display: block;
    box-shadow: 0 1px 1px rgba(228, 131, 18, 0.6) inset, 0 0 8px rgba(228, 131, 18, 0.6); 
    }

div.the-buttons
  {
  position:absolute;
  top:204px;
  left:5.4%;
  width: 89.5%;
  height: 7%;
  max-width: 270px;
  max-height: 254px;
  padding-top: 4%;
  text-align: center;
  background: rgba(228, 131, 18, 0.6);
  display:none;
  }
  
  .borderless-btn{
      background: none;
      border: none;
      outline: none;
      color : whitesmoke;
  }
  
  
  
    .btn-file {
        position: relative;
        overflow: hidden;
        color : whitesmoke;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    .btn-glyphicon {
        padding:8px;
        background:#ffffff;
        margin-right:4px;
    }
    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius:50px;
    }
    
    .btn-interest{
        display:inline-block;
        color:#444;
        height: 30px;
        border:1px solid orange;
        border-radius: 4px;
        background:rgba(228, 131, 18, 0.2);
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
        cursor:pointer;
        vertical-align:middle;
        max-width: 100px;
        padding: 0;
        margin-bottom: 10px;
        
    }
    button.btn-interest:hover{
        max-width: 100%;
    }
    
    .btn-secodary:focus{
        outline: none;
    }
    
  
  #white-camera{
      color: whitesmoke;
  }
  
.logo-sx{
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}
.logo-sx img{
   height: 100%;
}
.nav-top-list{
    padding-top: 0.8%;
}
.nav-top-list-rigth{
    padding-top: 0.8%;
    position: relative;left: 27%;
}
.search-bar-form{
    width:40%;
    position: relative;
    left: 18%;     
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(228, 131, 18, 0.6);
  box-shadow: 0 1px 1px rgba(228, 131, 18, 0.6) inset, 0 0 8px rgba(228, 131, 18, 0.6);
  outline: 0 none;
}
.white-element{
    background: #fff;
    position: relative;
    border: 1px solid lightgray;
    padding: 5px 10px 10px 10px; 
}

.double-input .form-control {
  width: 50%;
  border-right-width: 0px;
}

.double-input .form-control:focus {
  border-right-width: 1px;
}

.triple-input .form-control {
  width: 33.3%;
  border-right-width: 0px;
}

.triple-input .form-control:focus {
  border-right-width: 1px;
}

.profile-image {
    width: 40px;
    height: 40px;
}

.notify{
    border: 2px solid #ff6701;
    border-radius: 20px;
    color: red;
    color: #ff6701;
    font-size: 10px;
    padding: 1px 8px 1px 8px;
}

.content{
   background: whitesmoke/*rgba(228, 131, 18, 0.6)*/;
}
.panel > .colored {
    background-image: none;
    background:linear-gradient(to bottom, orange 0%, orangered 70%, red 100%);
    color: whitesmoke;
    color: white;

}
.colored {
    background-image: none;
    background:linear-gradient(to bottom, orange 0%, orangered 70%, red 100%);
    color: whitesmoke;
    color: white;
}
.popover{
    background: white;
}
.popover-title {
    display: none;
}
.popover-content {
    text-align: center;
    color: gray;
    font-size: 80%;
    width: 130px;
} 


.dropdown-comment ul.dropdown-menu {
    border-radius:4px;
    box-shadow: 0 0 3px #888 ;
    top:20px;
    left: 30px;
    text-align: center;
    position: relative;
}

.dropdown-post ul.dropdown-menu {
    border-radius:4px;
    box-shadow: 0 0 3px #888 ;
    top:15px;
    left: 30px;
    text-align: center;
    position: relative;
}

.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:10px;
    width:300px;
}

.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid rgba(228, 131, 18, 0.6);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    z-index: 9;
}

.dropdown ul.dropdown-menu-notifications:after {
    content: "";
    border-bottom: 12px solid rgba(228, 131, 18, 0.6);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    left:380px;
    top: -12px;
    z-index: 9;
}

.notifications {
   min-width:420px; 
  }
  
  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }
    
 .menu-title {
     color:orangered;
     font-size:1.5rem;
      display:inline-block;
      }
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
 	padding:2px 10px;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
  
 font-size:1.3rem;
 color:#000;
    
}

.notifications div.content {
 text-decoration:none;
 background:#fff;

 }
    
.notification-item {
 padding:10px;
 margin:5px;
 background:whitesmoke;
 border-radius:4px;
 }

.profile-image-avatar{
    width:100%;
    min-height: 100px;
    min-width: 100px;
    max-width: 270px;
    max-height: 254px;
    height: auto;
}

.postArea{
    border: none;
    resize:none;
    background: none;
    
}
.postArea:focus{
    outline: none;
    outline-color: none;
    box-shadow: none;
}

.footer{
    background: lightyellow;
    /*position: fixed;
    top:90%;*/
}

@media (max-width:768px){
    .logo-sx{
        padding: 0 0 0 0;
        width: 50%;
        height: 50%;
    }
    .logo-sx img{
        height: 50%;
     }
     div.the-buttons
        {
        position:relative;
        top:28.7%;
        left:5.4%;
        width: 89.5%;
        height: 7%;
        max-width: 270px;
        max-height: 254px;
        padding-top: 4%;
        text-align: center;
        background: rgba(228, 131, 18, 0.6);
        display:none;
        }
     .navbar-collapse {
        display: block;
        background: rgba(211,211,211,0.5);
        width: 50%;
        left:60%;
        right: 60%;
        overflow-x: hidden;
        border-radius:4px;
        box-shadow:none;
        margin-top:10px;
        width:300px;
        position: absolute;
        z-index: 9;
     }
     .search-bar-form{
        width:80%;
        position: relative;
        left: 20%;
     }
     .nav-top-list-rigth{
        padding-top: 0.8%;
        position: relative;left: 0%;
    }
    .nav-top-list > li > a{
        color:red;
    }
 
    .panel-info > div.panel-heading{
        background-image: linear-gradient(to bottom, orange 0%, orangered 70%, red 100%);
    }
}
